
<% content_for(:head) do %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAddiIMkMAknNU3D5NS1TU4RT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQU01Mn68JTNFGadfavdmyOXKv-bw" type="text/javascript"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
<% end %>

<div style="height: 1050px;width: 1910px;">
    <div id="sky_map" style="height:1050px; overflow: hidden"></div>

    <div id="weatherForecast" style="position: absolute; left: 100px; top: 960px; width: 728px; height: 90px;">
      <div style='width: 728px; height: 90px; background-image: url( http://vortex.accuweather.com/adcbin/netweather_v2/backgrounds/black_728x90_bg.jpg ); background-repeat: no-repeat; background-color: #000000;' ><div id='NetweatherContainer' style='height: 74px;' ><script src='http://netweather.accuweather.com/adcbin/netweather_v2/netweatherV2ex.asp?partner=netweather&tStyle=whteYell&logo=1&zipcode=96040&lang=eng&size=11&theme=black&metric=0&target=_self'></script></div><div style='text-align: center; font-family: arial, helvetica, verdana, sans-serif; font-size: 11px; line-height: 16px; color: #FFFFFF;' ><div style='float: left; padding-left: 10px;'><a style='color: #FFFFFF' href='http://www.accuweather.com/us/CA/HAT CREEK/96040/city-weather-forecast.asp?partner=accuweather&traveler=0' >Weather Forecast</a> | <a style='color: #FFFFFF' href='http://www.accuweather.com/maps-satellite.asp' >Weather Maps</a> | <a style='color: #FFFFFF' href='http://www.accuweather.com/index-radar.asp?partner=accuweather&traveler=0&zipcode=96040' >Weather Radar</a> | <a style='color: #FFFFFF' href='http://hurricane.accuweather.com/hurricane/index.asp' >Hurricane Center</a></div><img style='float: right; padding-right: 5px;' src='http://vortex.accuweather.com/adc2004/common/images/misc/netweather_v2/adcwhite.png' /></div></div>
    </div>

<!-- weatherbug
<link rel="stylesheet" type="text/css" media="screen" href="http://img.weather.weatherbug.com/Style/stickers/v2/Stickers_728x90.css" />
<div class="wXbody">
<div class="logo"><a href="http://weather.weatherbug.com/default.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/CA/Hat Creek-weather.html?zcode=z5545&units=0'"><img src="http://img.weather.weatherbug.com/images/stickers/v2/728x90/wxBug-logo.jpg" border="0" alt="WeatherBug" /></a></div>
<div class="local"><a href="http://weather.weatherbug.com/default.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/CA/Hat Creek-weather.html?zcode=z5545&units=0'"><img src="http://img.weather.weatherbug.com/images/stickers/v2/English_ViewLocal_102x16.png" border="0" alt="WeatherBug" /></a></div>
<iframe id="WeatherBugSticker_728x90_v2" src="http://weather.weatherbug.com/desktop-weather/web-widgets/getSticker.html?ZipCode=96040&ZCode=z5545&Size=728x90&StationID=KRDD&units=0&Version=2&lang_id=en-us" width="400" height="76" class="frame" frameborder="0" scrolling="no" allowtransparency="yes"></iframe>
<div class="wXlinks">
<span class="link"><a href="http://weather.weatherbug.com/weather-forecast.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/CA/Hat Creek-weather/local-forecast/7-day-forecast.html?zcode=z5545&units=0'">Forecast</a></span>
<span class="link"><a href="http://weather.weatherbug.com/doppler-radar.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/CA/Hat Creek-weather/local-radar/doppler-radar.html?zcode=z5545&units=0'">Radar</a></span>
<span class="link"><a href="http://weather.weatherbug.com/weather-photos/photo-gallery.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/weather-photos/photo-gallery.html?zcode=z5545&units=0&zip=96040'">Photos</a></span>
</div>
<div class="wXlinks2">
<span class="link"><a href="http://weather.weatherbug.com/weather-cams.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/CA/Hat Creek-weather/weather-cams/local-cams.html?zcode=z5545&units=0'">Cameras</a></span>
<span class="link"><a href="http://weather.weatherbug.com/weather-news/weather-reports.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/weather-news/weather-reports.html?zcode=z5545&units=0&zip=96040'">News</a></span>
<span class="link"><a href="http://weather.weatherbug.com/travel-forecast/travel-forecast.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/travel-forecast/travel-forecast.html?zcode=z5545&units=0&zip=96040'">Travel</a></span>
</div>
-->
</div>


</div>
  
<script type="text/javascript">
  var map; // Global map variable.

  // Initializes Google Sky Map
  function initialize() {
   if (GBrowserIsCompatible()) {
     map = new GMap2(document.getElementById("sky_map"), {
         mapTypes : G_SKY_MAP_TYPES
         });
         // sample look at Mars initially
     var longitude = raToLng('23:14:52.02');
     var latitude  = decToLat('-05:56:40.36');
     map.setCenter(new GLatLng(latitude, longitude), 3);
     map.addControl(new GLargeMapControl());
     map.addControl(new GMapTypeControl());
   }
  }

  // Updates the map location
  function updateMapLocation()
  {
    // Take id and make AJAX query
    $.ajax({
      type:     'GET',
      url:      '<%= display1_activity_path %>',
      success:  function(response) {
         // Clear all overlays and markers
         map.clearOverlays();

         // construct GLatLng primary beam loc
         var longitude = raToLng(decimalDegreesToString(response.primaryBeamLocation.ra));
         var latitude  = decToLat(decimalDegreesToString(response.primaryBeamLocation.dec));
         var primary_beam_ll = new GLatLng(latitude, longitude);

         // construct GLatLng fov beam loc
         var fov_longitude = raToLng(decimalDegreesToString(response.fovBeamLocation.ra));
         var fov_latitude  = decToLat(decimalDegreesToString(response.fovBeamLocation.dec));
         var fov_beam_ll = new GLatLng(fov_latitude, fov_longitude);

         // Covert to pixels because it's easier to draw circle
         var zoom = map.getZoom();
         var current_projection = map.getCurrentMapType().getProjection();
         var pixelxy = current_projection.fromLatLngToPixel(primary_beam_ll,zoom);
         var fov_pixelxy = current_projection.fromLatLngToPixel(fov_beam_ll,zoom);

         // Calculate actual pixel distance from the two points
         var pixel_distance = Math.sqrt(Math.pow(pixelxy.x - fov_pixelxy.x,2) + Math.pow(pixelxy.y - fov_pixelxy.y,2));

         // Add markers to show where FOV and beam loc is (mainly for debugging)
         var primary_marker = new GMarker(primary_beam_ll);
         var fov_marker = new GMarker(fov_beam_ll);
         map.addOverlay(primary_marker);
         map.addOverlay(fov_marker);

         // Draw circle
         var degrees = 0;
         var x, y;
         var lla = new Array();
         for(;degrees<=6.50; degrees+=.15)
           {
              y =  pixelxy.y + Math.cos(degrees) * pixel_distance;
              x =  pixelxy.x + Math.sin(degrees) * pixel_distance;
              var new_pixelxy = new GPoint(x,y);
              lla.push(current_projection.fromPixelToLatLng(new_pixelxy,zoom,false));
           }
         gp = new GPolygon(lla , "#FFFFFF", 2, 1,"#0000FF",.15);
         map.addOverlay(gp);
         gp.show();               // Show the overlay
         map.panTo( primary_beam_ll );  // Pan center of the map to the primary beam location
      },
      error:    function() {
        // We should handle error here
      },
      datatype: 'json'
    });
  }

  // Updates the weather forecast
  function updateWeatherForecast()
  {
    $('#weatherForecast').html($('#weatherForecast').html());
  }

  $(document).ready(function()
  {
    initialize();
    $(window).unload( function () { GUnload(); } );

    registerElementTimer(function() { updateMapLocation(); },  <%= ApplicationController::TIMEOUT_ACTIVITY %>);
    registerElementTimer(function() { updateWeatherForecast(); },  <%= ApplicationController::TIMEOUT_WEATHER %>);
  })

</script>