/* 
################################################################################
#
# File:    styles.css 
# Project: World of SETI (WOS)
# Authors:     
#                  Alan Mak
#                  Anthony Tang
#                  Dia Kharrat
#                  Paul Wong
# 
# The initial source was worked on by students of Carnegie Mellon Silicon Valley
#
# Copyright 2011 The SETI Institute
#
# World of SETI is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# World of SETI is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with World of SETI.  If not, see<http://www.gnu.org/licenses/>.
# 
# Implementers of this code are requested to include the caption
# "Licensed through SETI" with a link to setiQuest.org.
# 
# For alternate licensing arrangements, please contact
# The SETI Institute at www.seti.org or setiquest.org. 
#
################################################################################
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    background-color: #000000;

    margin: 10px 0px 0px 0px;
    padding: 0px;

    font-family: arial;
    font-size: 28px;
    color: #80d1ff;
    width: 1910px;
}

#display1_header {
    height: 100px;
}

#display1_header div {
    float: left;
    line-height: 100px;
    vertical-align: bottom;
}

.text-small {
    font-size: 18px;
}

.text-large {
    font-weight: bold;
    font-size: 38px;
}

.text-title {
    font-weight: bold;
    font-size: 38px;
    color: #0072ff;
}

.text-title-dark-blue {
    font-weight: bold;
    font-size: 38px;
    color: #0072ff;
    color: #3344ec;
}

.waterfall {
    border-width: 2px;
    border-color: #0072ff;
    border-style: solid;
    height: 200px;
    width: 768px;
}

.baseline {
    border-width: 2px;
    border-color: #0072ff;
    border-style: solid;
    height: 150px;
    width: 768px;
}

.beam_information {
    width: 768px;
    float: left;
    padding-left: 15px;
    vertical-align: bottom;
}

.beam_information_top {
    height: 100px;
}

.beam_information_top div {
    float: left;
    line-height: 100px;
    vertical-align: middle;
}

.beam_information_center {
    vertical-align: bottom;
    padding-left: 15px;
}

.beam_status {
    padding-left: 25px;
}

.beam_location {
    padding-left: 25px;
}

.divider-horizontal {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 0px;
    margin-bottom: 25px;
    height: 1px;
    background-color: #0072ff;
}

.beam_frequency {
    color: #faf58b;
    font-size: 18px;
    background-image: url(/images/bg_frequency.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 125px;
    vertical-align: middle;
    text-align: center;
    padding-left: 25px;
}

.beam_frequency_coverage {
    float: left;
    padding-left: 15px;
    vertical-align: bottom;
}

.frequency_coverage_table {
    background-color: #80d1ff;
    width: 300px;
}

.frequency_coverage_table th {
    background-color: #ffffff;
    color: #0072ff;
    padding: 5px;
}

.frequency_coverage_table_header {
    color: #000000;
    height: 20px;
}

.frequency_coverage_table td.header {
    background-color: #ffffff;
    font-size: 18px;
    padding: 5px;
    width: 90px;
}

.frequency_coverage_table td {
    padding: 0px;
    margin: 0px;
}

#frequency_cover_data_table {
    padding: 0px;
    margin: 0px;
}

#frequency_cover_data_table td.off {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
}

#frequency_cover_data_table td.on {
    background-color: green;
    width: 20px;
    height: 20px;
}

.float-wall {
    clear: both;
}
