/*
################################################################################
#
# File:    styles.css
# Project: World of SETI (WOS)
# Authors:
#                  Alan Mak
#                  Anthony Tang
#                  Dia Kharrat
#                  Paul Wong
#
# The initial source was worked on by students of Carnegie Mellon Silicon Valley
#
# Copyright 2011 The SETI Institute
#
# World of SETI is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# World of SETI is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with World of SETI.  If not, see<http://www.gnu.org/licenses/>.
#
# Implementers of this code are requested to include the caption
# "Licensed through SETI" with a link to setiQuest.org.
#
# For alternate licensing arrangements, please contact
# The SETI Institute at www.seti.org or setiquest.org.
#
################################################################################
*/

root { 
    display: block;
}

body {
    background-color: #000000;

    margin: 10px;
    padding: 0px;

    font-family: arial;
    font-size: 28px;
    color: #80d1ff;
    width: 1900px;
}

#display1_header {
    height: 100px;
}

#display1_header div {
    float: left;
    line-height: 100px;
    vertical-align: bottom;
}

#display2 {
    height: 1050px;
    width: 1910px;
}

.text-smaller {
    font-size: 12px;
}

.text-small {
    font-size: 18px;
}

.text-large {
    font-weight: bold;
    font-size: 38px;
}

.text-title {
    font-weight: bold;
    font-size: 38px;
    color: #0072ff;
}

.text-title-dark-blue {
    font-weight: bold;
    font-size: 38px;
    color: #0072ff;
    color: #3344ec;
}

.text-title-yellow {
    font-weight: bold;
    font-size: 38px;
    color: #dddd00;
}

.waterfall {
    border-width: 2px;
    border-color: #0072ff;
    border-style: solid;
    height: 200px;
    width: 768px;
}

.baseline {
    border-width: 2px;
    border-color: #0072ff;
    border-style: solid;
    height: 150px;
    width: 768px;
}

.beam_information {
    width: 250px;
    float: left;
    padding-left: 15px;
}

.beam_description {
    padding-top: 15px;
    padding-left: 15px;
}

.beam_information_center {
    float: left;
}

.beam_information_center div {
    float: left;
    padding-left: 25px;
}

.beam_status {
    color: #faf58b;
    height: 40px;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    background-image: url(/images/icon_off.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.beam_location {
    padding-top: 15px;
    text-align: center;
}

.divider-horizontal {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 0px;
    margin-bottom: 20px;
    height: 1px;
    background-color: #0072ff;
}

.beam_past_frequency_coverage {
    padding-left: 25px;
}

.beam_frequency {
    color: #faf58b;
    font-size: 18px;
    background-image: url(/images/bg_frequency.png);
    background-position: center;
    background-repeat: no-repeat;
    line-height: 80px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
    padding-left: 25px;
}

.frequency_cover_data_table_container {
    padding-left: 25px;
    float: left;
}

.frequency_cover_data_table {
    padding: 0px;
    margin: 0px;
    background-color: #000000;
}

.frequency_cover_data_table tr {
    height: 15px;
}

.frequency_cover_data_table td {
    border-left: 1px solid #000000;
    width: 15px;
    height: 15px;
}

.frequency_cover_data_table td.off {
    background-color: #FF0000;
    background: -moz-linear-gradient(top, #ff0000, #AA0000);
}

.frequency_cover_data_table td.on {
    background-color: #00FF00;
    background: -moz-linear-gradient(top, #00ff00, #006a00);
}

.frequency_cover_data_table td.current {
    background-color: #dddd00;
    background: -moz-linear-gradient(top, #dddd00, #606000);
}

.frequency_cover_data_table td.arrow {
    height: 15px;
}

.frequency_cover_data_table td.label {
    border-left: 1px solid white; padding-left:5px;
}

.float-wall {
    clear: both;
}

#webcam {
    position: absolute;
    top: 845px;
    left: 900px;
    border: 2px solid white;
    width: 922px;
    background-color: #000000;
}

.webcam-image {
    width: 300px;
}

#weatherForecast {
    position: absolute;
    left: 100px;
    top: 960px;
    width: 728px;
    height: 90px;
}

#sky_map {
    height: 1050px;
    overflow: hidden;
}

.log-content {
   font-size: 12px;
}

.log-content .log-time {
   color: #ffffff;
}

.log-content .log-info {
   color: #66ff00;
}

.log-content .log-error {
   color: #ff0000;
}

.log-content .log-warning {
   color: #fff000;
}

#contextual-info-container {
    position: absolute;
    top: 150px;
    left: 150px;

    width: 500px;
    height: 700px;

    border: none;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: #fff;
}
#contextual-info {
    position: relative;
    top: 0px;

    width: 500px;
    height: 2000px;

    border: none;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: #fff;
}

img:-moz-broken, img:-moz-user-disabled {
    -moz-force-broken-image-icon: 1;
}