<div>
  <div class="beam_information">
    <div class="beam_information_top">
      <div class="text-large" style="float:left;">Beam <%= beam_id %></div>
      <div class="text-large" style="float:left;"><!-- ON/OFF image here --></div>
      <div class="text-large" style="float:left;"><!-- RA / DEC here --></div>
      <div class="float-wall"></div>
    </div>

    <div class="beam_information_bottom">
      <div class="beam_frequency" style="float:left;"><!-- MHz here --></div>
      <div class="text-large" style="float:left;"><!-- Description here --></div>
      <div class="float-wall"></div>
    </div>
  </div>

  <div style="float:left; padding-left:5px;">
    <div>Waterfall<br /><%= render 'waterfall', :waterfall_id => waterfall_id %></div>
    <div style="padding-top:15px;">Baseline<br /><%= render 'baseline', :baseline => baseline %></div>
  </div>
  
  <div class="beam_observation_history">
    <table class="observation_history_table">
      <tr><th>Observation History</th></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
    </table>
  </div>
  
  <div class="float-wall"></div>
</div>