<div>
  <div class="beam_information">
    <div class="beam_information_top">
      <div class="text-large">Beam <%= beam_id %></div>
      <div class="beam_status">&nbsp;<!-- ON/OFF image here --></div>
      <div class="beam_frequency">&nbsp;<!-- MHz here --></div>
      <div class="beam_location">&nbsp;<!-- RA / DEC here --></div>
      <div class="float-wall"></div>
    </div>

    <div class="beam_information_bottom">
      <div><%= render 'baseline', :baseline => baseline %></div>
    </div>
  </div>

  <div style="float:left; padding-left:15px;">
    <div>&nbsp;<!-- Description here --></div>
    <div><%= render 'waterfall', :waterfall_id => waterfall_id %></div>
  </div>
  
  <div class="beam_observation_history">
    <table class="observation_history_table">
      <tr><th>Observation History</th></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
    </table>
  </div>
  
  <div class="float-wall"></div>
</div>