<!--
################################################################################
#
# File:    _base.html.erb
# Project: World of SETI (WOS)
# Authors:     
#                  Alan Mak
#                  Anthony Tang
#                  Dia Kharrat
#                  Paul Wong
# 
# The initial source was worked on by students of Carnegie Mellon Silicon Valley
#
# Copyright 2011 The SETI Institute
#
# World of SETI is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# World of SETI is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with World of SETI.  If not, see<http://www.gnu.org/licenses/>.
# 
# Implementers of this code are requested to include the caption
# "Licensed through SETI" with a link to setiQuest.org.
# 
# For alternate licensing arrangements, please contact
# The SETI Institute at www.seti.org or setiquest.org. 
#
################################################################################
-->

<div id="beam<%= beam_id %>">
  <div class="beam_information">
    <div class="beam_information_top">
      <div class="text-large">Beam <%= beam_id %></div>
      <div class="beam_status">&nbsp;<!-- ON/OFF image here --></div>
      <div class="beam_frequency">&nbsp;<!-- MHz here --></div>
      <div class="beam_location">&nbsp;<!-- RA / DEC here --></div>
      <div class="float-wall"></div>
    </div>

    <div class="beam_information_bottom">
      <div><%= render 'baseline', :baseline_id => beam_id %></div>
    </div>
  </div>

  <div style="float:left; padding-left:15px;">
    <div>&nbsp;<!-- Description here --></div>
    <div><%= render 'waterfall', :waterfall_id => beam_id %></div>
  </div>
  
  <div class="beam_observation_history">
    <table class="observation_history_table">
      <tr><th>Observation History</th></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
    </table>
  </div>
  
  <div class="float-wall"></div>
</div>
