<%= stylesheet_link_tag "qunit" %>
<%= javascript_include_tag "qunit.js" %>

<script type="text/javascript">
  // --- Unittest Code goes here ---

  $(document).ready(function(){
    module("Utilities.js Tests");

    test("Test decimalDegreesToString", function()
    {
      expect(1);
      var input = 55.4;
      var result = "55:23:59.999999999994884";
      equals(decimalDegreesToString(input), result, "Expected " + result + " as the result, result was: " + decimalDegreesToString(input));
    });

    test("Test decimalDegreesToStringDegrees", function()
    {
      expect(1);
      var input = 55.4;
      var result = "55° 23' 60.0\"";
      equals(decimalDegreesToStringDegrees(input), result, "Expected " + result + " as the result, result was: " + decimalDegreesToString(input));
    });

    test("Test decimalHoursToStringHours", function()
    {
      expect(1);
      var input = 12.44;
      var result = "0h 49m 45.0s";
      equals(decimalHoursToStringHours(input), result, "Expected " + result + " as the result, result was: " + decimalDegreesToString(input));
    });

    test("Test raToLng", function()
    {
      expect(1);
      var input = "12:26:23.99999999999821";
      var result = "-6.599999999999994";
      equals(raToLng(input), result, "Expected " + result + " as the result, result was: " + raToLng(input));
    });

    test("Test lngToRa", function()
    {
      expect(1);
      var input = "-6.599999999999994";
      var result = "12h 26m 23.0s";
      equals(lngToRa(input), result, "Expected " + result + " as the result, result was: " + lngToRa(input));
    });

    test("Test decToLat", function()
    {
      expect(1);
      var input = "55:23:59.999999999994884";
      var result = "55.4";
      equals(decToLat(input), result, "Expected " + result + " as the result, result was: " + decToLat(input));
    });

    test("Test latToDec", function()
    {
      expect(1);
      var input = "55.4";
      var result = "55° 23' 60.0\"";
      equals(latToDec(input), result, "Expected " + result + " as the result, result was: " + latToDec(input));
    });

    test("Test encode64", function()
    {
      expect(1);
      var input = "12345";
      var result = "MTIzNDU=";
      equals(encode64(input), result, "Expected " + result + " as the result, result was: " + encode64(input));
    });

    test("Test decode64", function()
    {
      expect(1);
      var input = "MTIzNDU=";
      var result = "12345";
      equals(decode64(input), result, "Expected " + result + " as the result, result was: " + decode64(input));
    });




    // =======================================================================================================


    module("TimeoutManager Tests");

    test('Test setObservingTimeout - Observing', function()
    {
      stop();

      var isSet = false;
      timeoutManager.isObserving = true;
      timeoutManager.setObservingTimeout(function() {
        isSet = true;
      }, 100);

      setTimeout(function() {
        var result = true;
        equals(isSet, true, "Expected " + result + " as the result, result was: " + isSet);

        start();
      }, 100)
    });

    test('Test setObservingTimeout - Not Observing', function()
    {
      stop();

      var isSet = false;
      timeoutManager.isObserving = false;
      timeoutManager.setObservingTimeout(function() {
        isSet = true;
      }, 100);

      setTimeout(function() {
        var result = false;
        equals(isSet, false, "Expected " + result + " as the result, result was: " + isSet);

        start();
      }, 100)
    });

  });

</script>

<h1 id="qunit-header">QUnit Tests</h1>
<h2 id="qunit-banner"></h2>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests">
</ol>  